<%= form_for(@teil2) do |f| %>
  <% if @teil2.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@teil2.errors.count, "error") %> prohibited this teil2 from being saved:</h2>
    <ul>
    <% @teil2.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
