<h1>Listing gesamts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gesamts.each do |gesamt| %>
  <tr>
    <td><%= gesamt.name %></td>
    <td><%= link_to 'Show', gesamt %></td>
    <td><%= link_to 'Edit', edit_gesamt_path(gesamt) %></td>
    <td><%= link_to 'Destroy', gesamt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul>
<% @teile1.each do |teil| %>
   <li>Teil: <%= teil.name %>
<%end %>
<% @teile2.each do |teil| %>
   <li>Teil: <%= teil.name %>
<%end %>
</ul>


<br />

<%= link_to 'New Gesamt', new_gesamt_path %>
