<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% f.fields_for :reservations do |builder| %>
  <div class="field">
    <%= builder.label :begin %><br />
    <%= builder.datetime_select :begin %>
  </div>
  <div class="field">
    <%= builder.label :end %><br />
    <%= builder.datetime_select :end %>
  </div>
  <div class="field">
    <%= builder.label :machine_id %><br />
    <%= builder.text_field :machine_id %>
  </div>
  <div class="field">
    <%= builder.label :booking_id %><br />
    <%= builder.text_field :booking_id %>
  </div>
<% end %>


  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
