<% @hints.each do |hint| %>
<p class="notice"><%= hint %></p>
<%end%>

<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :begin %><br />
    <%= f.datetime_select :begin %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
<table>
   <tr class="header">
      <th>Type</th>
      <th>#</th>
      <th>CPU</th>
      <th>Cores</th>
      <th>RAM</th>
   </tr>
   <% @machine_types.each do |machine_type| %>
      <tr class="entry">
         <td><%= text_field_tag "booking[nodes_count][" + machine_type.id.to_s + "]", 0, :size => 2 %></td>
         <td><%= machine_type.machines.length %></td>
         <td><%= machine_type.cpu_type %></td>
         <td><%= machine_type.cores %></td>
         <td><%= machine_type.ram_gib %></td>
      </tr>
   <% end %>
</table>

  Add machines link here
  <div class="actions">
    <%= f.submit %>
  </div>

<%end%>
