<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :begin %><br />
    <%= f.datetime_select :begin %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
   <table>
   <tr class="header">
      <th>CPU</th>
      <th>Cores</th>
      <th>RAM (GiB)</th>
      <th>Reserve</th>
   </tr>
   <% @machines.each do |machine| %>
      <% if machine.usable %>
      <tr class="entry">
         <td><%= machine.machine_type.cpu_type %></td>
         <td><%= machine.machine_type.cores %></td>
         <td><%= machine.machine_type.ram_gib %></td>
         <td><%= check_box_tag "booking[reservations_attributes][][machine_id]", machine.id -%> </td>
      </tr>
      <% end %>
   <% end %>
   </table>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
