<h2><%= @btitle %> Bookings</h2>
<p class="notice"><%= notice %></p>
<div class="recordset">

<table>
<thead>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Comment</th>
    <th>Begin</th>
    <th>End</th>
    <th>Machines</th>
    <th>Modifier</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.id %></td>
    <td><%= booking.user.name %></td>
    <td><%= booking.comment %></td>
    <td><%= booking.begin %></td>
    <td><%= booking.end %></td>
    <td><% booking.reservations.each do |reservation| %>
    <%= reservation.machine.name %>
    <%end%></td>
    <td><%= booking.modifier ? booking.modifier.name : "" %></td>
    <td><%= link_to '[show]', booking %>
    <%= link_to '[delete]', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
