<%= render 'header' %>

<h1>Bookings</h1>

<%= link_to 'New Booking', new_booking_path %>

<table>
  <tr>
    <th><%= link_to 'User', users_path %></th>
    <th>Begin</th>
    <th>End</th>
    <th><%= link_to 'Machines', machines_path %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.user.name %></td>
    <td><%= booking.begin %></td>
    <td><%= booking.end %></td>
    <td><% booking.reservations.each do |reservation| %>
      <%= reservation.machine.name %>
      <%end%>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
