<p class="notice"><%= notice %></p>

<p>
  User <b><%= @booking.user.name %></b> booked the following machines
  as booking <b><%= @booking.id %></b>:
  <ul>
  <% @booking.reservations.each do |reservation| %>
  <li><%= reservation.machine.name %>
  <%end%>
  </ul>
  <p><b>Short list:</b>
  <% @booking.reservations.each do |reservation| %>
  <%= reservation.machine.name %>
  <%end%>
</p>


<%= link_to 'Back', bookings_path %>
