<p class="notice"><%= notice %></p>

<p>
  User <b><%= @booking.user.name %></b> successfully created booking
  ID <b><%= @booking.id %></b> with the following machines:
  <ul>
  <% @booking.reservations.each do |reservation| %>
  <li><%= reservation.machine.name %>
  <%end%>
  </ul>
  <p><b>Short list:</b>
  <% @booking.reservations.each do |reservation| %>
  <%= reservation.machine.name %>
  <%end%>
</p>


<%= link_to 'Back', bookings_path %>
