<h2>New booking (specific machines)</h2>

<%= form_for(@booking) do |f| %>
<%= render :partial => "formheader", :locals => { :booking => @booking, :f => f } %>

<div class=recordset>
<table>

<thead>
   <tr class="header">
      <th>Cluster</th>
      <% @i=1 %>
      <% while @i <= @max %>
      <th><%= sprintf("%0.2d",@i) %></th>
      <% @i=@i+1 %>
      <% end %>
   </tr>
</thead>
<tbody>
<% @i=0 %>
<%= f.fields_for :reservations do |r| %>
<% @typelist.each_pair do |name, machines| %>
   <tr>
      <th><%= name %></th>
      <% machines.each do |machine| %>
        <td><%= check_box_tag "booking[reservations_attributes][" + @i.to_s + "][machine_id]", machine.id %></td>
        <% @i = @i+1%>
      <% end %>
      <% while @i < @max %>
        <td> &nbsp;</td> <% @i = @i+1%>
      <%end%>
      <%@i=0%>
   </tr>
<% end %>
<% end %>
</tbody>
</table>
</div>
<div class="actions">
 <%= f.submit %>
</div>

<%end%>
