<% form_for :machine_reservation, do %>

   <table>
   <tr class="header">
      <th>Name</th>
      <th>Description</th>
      <th>Add</th>
   </tr>
   <% @machines.each do |machine| %>
      <tr class="entry">
         <td><%= machine.title %></td>
         <td><%= machine.description %></td>
         <td><%= check_box_tag "bookings[machine_ids][]", machine.id -%> </td>
      </tr>
   <% end %>
   </table>

   <br><%= label_tag(:user_id, "User:") %><%= text_field(:user, :name) %>
   <br><%= label_tag(:date_start, "Begin:") %><%= select_date @date_default_start, :prefix => :date_start %> 
   <br><%= label_tag(:date_start, "End:") %><%= select_date @date_default_end, :prefix => :date_end %> 

   <br><%= submit_tag("Book!") %> 
<% end %> 
