<h1>Welcome to the reservation system</h1>

<h2>Listing bookings with Reservations</h2>
<table>
  <tr>
    <th>User</th>
    <th>Booking #</th>
    <th>Reservation #</th>
    <th>Machine #</th>
  </tr>

<% @br.each do |reservation| %>
      <tr>
      <td> <%= reservation[:username] %>
      <td> <%= reservation[:id] %>
      <td> <%= reservation[:reservation][:id] %>
      </tr>
<% end %>
</table>

<ul>
   <li><%= link_to 'Users', users_path %>
   <li><%= link_to 'Machines', machines_path %>
   <li><%= link_to 'Reservations', reservations_path %>
</ul>

<h2>Reserve machines </h2)
<% form_for :a, do %>

   <br><%= label_tag(:user_id, "User:") %><%= text_field(:user, :name) %>
   <br><%= label_tag(:date_start, "Begin:") %><%= select_date Date.today, :prefix => :date_start %> 
   <br><%= label_tag(:date_start, "End:") %><%= select_date Date.today, :prefix => :date_end %> 

   <table>
   <% @machines.each do |machine| %>
      <tr class="entry">
         <td><%= machine.title %></td>
         <td><%= machine.description %></td>
         <td><%= check_box_tag "bookings[machine_ids][]", machine.id -%> </td>
      </tr>
   <% end %>
   </table>
   <%= submit_tag("Book!") %> 
<% end %> 

