<h1>Welcome to the reservation system</h1>

<ul>
   <li><%= link_to 'Users', users_path %>
   <li><%= link_to 'Machines', machines_path %>
   <li><%= link_to 'Reservations', reservations_path %>
   <li><%= link_to 'New Booking', new_machine_reservation_path %>
</ul>

<h2>Current bookings</h2>
<table>
  <tr>
    <th>User</th>
    <th>Booking #</th>
    <th>Reservation #</th>
    <th>Machine #</th>
    <th>Start</th>
    <th>End</th>
  </tr>

<% @br.each do |reservation| %>
      <tr>
      <td> <%= reservation[:username] %> </td>
      <td> <%= reservation[:id] %> </td>
      <td> <%= reservation[:reservation][:id] %> </td>
      <td> <%= reservation[:machine_name] %> (<%= reservation[:reservation][:machine_id] %>) </td>
      <td> <%= reservation[:reservation][:begin] %> </td>
      <td> <%= reservation[:reservation][:end] %> </td>
      </tr>
<% end %>
</table>
