<h2>Reserve machines </h2)
<% form_for :machine_reservation, do %>

   <br><%= label_tag(:user_id, "User:") %><%= text_field(:user, :name) %>
   <br><%= label_tag(:date_start, "Begin:") %><%= select_date @date_default_start, :prefix => :date_start %> 
   <br><%= label_tag(:date_start, "End:") %><%= select_date @date_default_end, :prefix => :date_end %> 

   <table>
   <% @machines.each do |machine| %>
      <tr class="entry">
         <td><%= machine.title %></td>
         <td><%= machine.description %></td>
         <td><%= check_box_tag "bookings[machine_ids][]", machine.id -%> </td>
      </tr>
   <% end %>
   </table>
   <%= submit_tag("Book!") %> 
<% end %> 
