<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br />
    <%= f.collection_select(:machine_id, Machine.all, :id, :name, {:prompt => true}) %>
  </div>
   <%= f.fields_for :booking do |b| %>

     <div class="field">
       <%= b.label :begin %><br />
       <%= b.datetime_select :begin %>
     </div>
     <div class="field">
       <%= b.label :end %><br />
       <%= b.datetime_select :end %>
     </div>
     <div class="field">
       <%= b.label :comment %><br />
       <%= b.text_field :comment %>
     </div> 
   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
