<h1>Listing teil1s</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teil1s.each do |teil1| %>
  <tr>
    <td><%= teil1.name %></td>
    <td><%= link_to 'Show', teil1 %></td>
    <td><%= link_to 'Edit', edit_teil1_path(teil1) %></td>
    <td><%= link_to 'Destroy', teil1, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teil1', new_teil1_path %>
