<h1>Listing machines</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Usable</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%= machine.title %></td>
    <td><%= machine.description %></td>
    <td><%= machine.usable %></td>
    <td><%= link_to machine.machine_type.name, machine_type_path(machine.machine_type_id) %></td>
    <td><%= link_to 'Show', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Destroy', machine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine', new_machine_path %>
