<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @machine.name %>
</p>

<p>
  <b>Description:</b>
  <%= @machine.description %>
</p>

<p>
  <b>Status:</b>
  <%= @machine.machine_status.name %>
</p>


<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
