<h2>Free machines</h2>

<div class="recordset">
<table>
<thead>
  <tr>
    <th>Free #</th>
    <th>Name</th>
    <th>Ram gib</th>
    <th>Cores</th>
    <th>Cpu type</th>
  </tr>
</thead>
<tbody>

<% @machine_types.each do |machine_type| %>
  <tr>
    <td><%= machine_type.free_machines %></td>
    <td><%= machine_type.name %></td>
    <td><%= machine_type.ram_gib %></td>
    <td><%= machine_type.cores %></td>
    <td><%= machine_type.cpu_type %></td>
  </tr>
<% end %>
</table>
</tbody>
</div>
