<h1>Listing machine_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ram gib</th>
    <th>Cores</th>
    <th>Cpu type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_types.each do |machine_type| %>
  <tr>
    <td><%= machine_type.name %></td>
    <td><%= machine_type.ram_gib %></td>
    <td><%= machine_type.cores %></td>
    <td><%= machine_type.cpu_type %></td>
    <td><%= link_to 'Show', machine_type %></td>
    <td><%= link_to 'Edit', edit_machine_type_path(machine_type) %></td>
    <td><%= link_to 'Destroy', machine_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine type', new_machine_type_path %>
