<!DOCTYPE html>
<html>
<head>
  <title>mbs - machine booking system</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="header">
<%= link_to '[booking overview]', bookings_path %>
<%= link_to '[new booking]', new_booking_path %>
<%= link_to '[free machines]', machine_types_free_path %>
<%= link_to '[used machines]', machines_used_by_path %>
Logged in as <%= User.find(session[:user_id]).name %>
</div>

<%= yield %>

</body>
</html>
