<!DOCTYPE html>
<html>
<head>
  <title>mbs - machine booking system</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="header">
[<b>booking</b>:
   <%= link_to 'new |', new_booking_path %>
   <%= link_to 'current |', bookings_path %>
   <%= link_to 'deleted |', :controller=>"bookings", :action=>"deleted" %>
   <%= link_to 'expired |', :controller=>"bookings", :action=>"expired" %>
   <%= link_to 'future', :controller=>"bookings", :action=>"future" %>
]
[<b>machines</b>:
<%= link_to 'free |', machine_types_free_path %>
<%= link_to 'general purpose', machines_general_purpose_path %>
<%= link_to 'used', machines_used_by_path %>
]
Logged in as <%= @current_user_name %>
</div>

<%= yield %>
<hr>
mbs - Machine Booking System
</body>
</html>
